.content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: calc(var(--margin) * 2);

  @media (max-width: 1060px) {
    grid-template-columns: 1fr;
  }
}

.imgBlock {
  margin-bottom: var(--margin);

  img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }
}

.rightCol {
  display: grid;
  gap: calc(var(--margin) * 2);
  align-content: start;
}

.subtitle {
  text-align: center;
}

.session {
  display: grid;
  gap: var(--margin);
}

.sessionTimeList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 70px);
  gap: calc(var(--margin) / 2);

  @media (max-width: 1060px) {
    justify-content: center;
  }
}

.desc {
  @media (max-width: 1060px) {
    margin: 0 auto;
    max-width: 636px;
  }
}
